# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración local de entorno
.env
.env.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos locales de Docker (si compilan o prueban en sus máquinas)
.docker/
docker-compose.override.yml